################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/code/WindowDraw/.vs/WindowDraw/v14/.suo
