################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/code/WindowDraw/.vs/WindowDraw/v14/.suo
/code/WindowDraw/Debug
/code/WindowDraw/ipch/WINDOWDRAW-3995f676
/code/WindowDraw/WindowDraw/Debug
/code/WindowDraw/WindowDraw.VC.VC.opendb
/code/WindowDraw/WindowDraw.VC.db
